crispy-bootstrap5==0.7
Django==4.2
django-cleanup==7.0.0
django-crispy-forms==2.0
Pillow==9.5.0
-e git+https://github.com/gbozee/pypaystack.git@d5a463262440e39c9505e5dbd4e61f724337f98d#egg=pypaystack
python-decouple==3.8
twilio==8.1.0
