{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}{% endblock title %} - Car Rental</title>
    <link rel="stylesheet" href="{% static 'styles/fontawesome/all.min.css' %}">
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body class="bg-secondary">
    {% block content %}{% endblock %}
    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
