{% extends "registration/base_auth.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock title %}

{% block content %}

<style>
    .login, .image {
        min-height: 100vh;
    }
    .bg-image {
        background-image: url(https://via.placeholder.com/1079x1080);
        background-size: cover;
        background-position: center center;
    }
</style>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">

                        <div class="col-12 col-md-12 mx-auto">
                            <h4 class="text-center">Login to CarRental</h4>
                            <form action="" method="post" class="p-4 rounded">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <hr class="my-4">
                                <button class="w-100 btn btn-primary btn-lg" type="submit">Login</button>
                            </form>
                            
                            <div class="row p-4">
                                <div class="col-6">
                                    <a class="w-100 btn btn-primary" href="{% url 'customer_signup' %}">Register as a Customer</a>
                                </div>
                                <div class="col-6">
                                    <a class="w-100 btn btn-primary" href="{% url 'vendor_signup' %}">Register as a Vendor</a>
                                </div>
                            </div>
                            <p class="small text-center">
                                <a href="{% url 'home' %}">Back Home</a>
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
    </div>
</div>

{% endblock %}