<div class="col-lg-4 mb-5">
    <div class="card h-100 shadow border-0">
        {% if vehicle.image %}
        <img class="card-img-top" src="{{ vehicle.image.url }}" alt="{{ vehicle.name }}" />
        {% endif %}
        <div class="card-body p-4">
            <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{ vehicle.area.city }}</div>
            <a class="text-decoration-none link-dark stretched-link" href="{% url 'vehicle:detail' vehicle.id %}"><h5 class="card-title mb-3">{{ vehicle.name }} {% if vehicle.model %}({{ vehicle.model }}){% endif %}</h5></a>
            <p class="card-text mb-0">{{ vehicle.description|truncatechars:'60' }}</p>
        </div>
        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
            <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="small">
                        <div class="fw-bold">&#8358;{{ vehicle.price }} (per day)</div>
                        <div class="text-muted">
                            <b>Seats:</b> {{ vehicle.no_of_seats }}
                            &middot;
                            <b>Fuel:</b> {{ vehicle.get_fuel_type_display }}
                            &bull;
                            <b>Gear:</b> {{ vehicle.get_gear_type_display }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>