{% extends "base.html" %} 
{% load crispy_forms_tags humanize %}

{% block title %}Confirm Car Booking{% endblock %} 

{% block content %} 

<section class="py-5 bg-dark">
    <div class="container">
        <div class="mb-5 text-white">
            <h1 class="fw-bolder">Confirm Car Booking for {{ rent.vehicle.name }}</h1>
            <p>Before you proceed with payment, please cross-check your booking and ensure you are satisfied before continuing.</p>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="row">
          <div class="col-7 mx-auto">
            <div class="row">
                <div class="mb-3 col-6">
                    <label>Date of booking:</label>
                    <input type="text" class="form-control" value="{{ rent.date_of_booking }}" readonly>
                </div>
                <div class="mb-3 col-6">
                    <label>Date of return:</label>
                    <input type="text" class="form-control" value="{{ rent.date_of_return }}" readonly>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-4">
                    <label>Total no. of Days:</label>
                    <input type="text" class="form-control" value="{{ rent.total_days }}" readonly>
                </div>
                <div class="mb-3 col-4">
                    <label>Amount per day:</label>
                    <input type="text" class="form-control" value="&#8358;{{ rent.vehicle.price|intcomma }}" readonly>
                </div>
                <div class="mb-3 col-4">
                    <label>Total amount:</label>
                    <input type="text" class="form-control" value="&#8358;{{ rent.get_total_cost|intcomma }}" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <a href="" class="btn btn-success me-1">Confirm Order</a>
                    <form>
                        <script src="https://js.paystack.co/v1/inline.js"></script>
                        <button type="button" onclick="payWithPaystack()"> Pay With Paystack </button>
                    </form>
                    <a class="btn btn-link" href="{% url 'vehicle:detail' rent.vehicle.id %}">Go back</a>   
                </div>
            </div>
            
          </div>
        </div>
    </div>
</section>

<script>
    function payWithPaystack() {
        var handler = PaystackPop.setup({
            key: '{{ paystack_key }}',
            email: '{{ rent.customer.email }}',
            amount: {{ paystack_amount }},
            reference: '' + Math.floor((Math.random() * 1000000000) + 1),
            callback: function(response) {
                window.location.href = "{{ paystack_redirect_url }}&trxref=" + response.reference
            },
            onClose: function() {
                alert('Your transaction was either aborted or not completed, this window would be closed.');
            }
        });
        handler.openIframe();
    }
</script>

{% endblock content %}