{% extends "base.html" %} 
{% load crispy_forms_tags %}

{% block title %}{{ vehicle.name }}{% endblock %}

{% block content %} 

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-inline-block text-white bg-info p-2">2023</div>
            <div class="d-flex d-inline-block gap-1">
                <i class="fa-solid fa-star text-warning small lh-base"></i>
                <i class="fa-solid fa-star text-warning small lh-base"></i>
                <i class="fa-solid fa-star text-warning small lh-base"></i>
                <i class="fa-solid fa-star text-warning small lh-base"></i>
                <span class="lh-sm">4.0</span>
            </div>
            
        </div>
        <div class="col-lg-8">
            <article>
            	{% include 'partials/_alerts.html' %}
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">{{ vehicle.name }} {% if vehicle.model %}({{ vehicle.model }}){% endif %}</h1>
                    <div class="mb-2 d-flex justify-content-between">
                    	<h3>&#8358;{{ vehicle.price }} <small class="text-body-secondary">/ day</small></h3>
                    	<span>
                    		{% if request.user.is_authenticated %}
                                {% if compared %}
                                    <a class="btn btn-warning" href="{% url 'vehicle:add_to_compare' vehicle.id %}">Remove from Compare</a> 
                                {% else %}
                                    <a class="btn btn-success" href="{% url 'vehicle:add_to_compare' vehicle.id %}">Add to Compare</a>
                                {% endif %}
                                {% if request.user == vehicle.vendor %}
                    		    <a class="btn btn-primary" href="{% url 'vehicle:update' vehicle.id %}">Update Vehicle</a>
                                {% endif %}
                            {% endif %}
                    	</span>
                    </div>
                </header>
                <figure class="mb-4">
                    <img class="img-fluid rounded" src="{{ vehicle.image.url }}" alt="{{ vehicle.name }}" />
                </figure>
                <section class="mb-5">
                	<h4>Vehicle Description</h4>
                    <p class="fs-5 mb-4">{{ vehicle.description|linebreaks }}</p>
                </section>
            </article>
        </div>
        <div class="col-lg-4">
            
            {% if request.user.is_authenticated %}
                {% if not request.user.is_vendor and request.user.customer_profile.verified  %}
                <div class="card mb-4">
                    <div class="card-header">Book Now</div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-success" value="Place booking" />
                        </form>
                    </div>
                </div>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}?next={% url 'vehicle:detail' vehicle.id %}" class="btn btn-success d-block mb-4">Login to Book Vehicle</a>
            {% endif %}
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Vendor</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            <a href="{% url 'vendor_profile' vehicle.vendor.vendor_profile.user.username %}">{{ vehicle.vendor.vendor_profile.company_name }}</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Color</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ vehicle.color }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Location</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ vehicle.area }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Car Type</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ vehicle.car_type }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Fuel Type</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ vehicle.fuel_type }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Seats</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ vehicle.no_of_seats }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Gear Type</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                             {{ vehicle.gear_type }} 
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="row gx-5 my-5">
        <h3 class="mb-5">Recommended Vehicles</h3>
        {% for vehicle in recommended_vehicles %}
        {% include 'partials/_car_listings.html' %}
        {% endfor %}
    </div>
</div>

{% endblock content %}