{% extends "base.html" %} 

{% block title %}{{ vehicle.name }}{% endblock %}

{% block content %} 

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
            	{% include 'partials/_alerts.html' %}
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ vehicle.name }} {% if vehicle.model %}({{ vehicle.model }}){% endif %}</h1>
                    <!-- Post meta content-->
                    <div class="mb-2 d-flex justify-content-between">
                    	<h3>&#8358;{{ vehicle.price }} / day</h3>
                    	<span>
                    		{% if request.user.is_authenticated %}
                            {% if compared %}
                                <a href="{% url 'vehicle:add_to_compare' vehicle.id %}">Remove from Compare</a> 
                            {% else %}
                                <a href="{% url 'vehicle:add_to_compare' vehicle.id %}">Add to Compare</a>
                            {% endif %}
                    		| <a href="{% url 'vehicle:update' vehicle.id %}">Update Vehicle</a>
                            {% endif %}
                    	</span>
                    </div>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ vehicle.image.url }}" alt="{{ vehicle.name }}" /></figure>
                <!-- Post content-->
                <section class="mb-5">
                	<h4>Vehicle Details</h4>
                    <p class="fs-5 mb-4">{{ vehicle.description|linebreaks }}</p>
                    <div class="card mb-4">
		                <div class="card-header">Book Now</div>
		                <div class="card-body">
		                	<div class="row">
								<div class="col-4">
									<input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="date_of_booking" class="form-control" placeholder="Date of booking:" required>
                                </div>
                                <div class="col-4">
                                	<input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="date_of_return" class="form-control" placeholder="Date of return:" required>
                                </div>
                                <div class="col-4">
                                    <input type="submit" class="btn btn-success" value="Place booking" />
                                </div>
							</div>
		                </div>
		            </div>
                </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Name</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ vehicle.name }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Model</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ vehicle.model }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Color</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ vehicle.color }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Car Type</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ vehicle.get_car_type_display }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Fuel Type</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ vehicle.get_fuel_type_display }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Seats</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ vehicle.no_of_seats }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Gear Type</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                             {{ vehicle.get_gear_type_display }} 
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Area</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ vehicle.area }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Price</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            &#8358;{{ vehicle.price }} (per day)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}