{% extends "base.html" %} 

{% block title %}Available Vehicles{% endblock %} 

{% block content %} 

<section class="py-5 bg-dark">
    <div class="container px-5 my-5">
        <div class="text-center mb-5 text-white">
            <h1 class="fw-bolder">Available Vehicles</h1>
            <p class="lead fw-normal text-body-secondary mb-0">List of available cars for rental from any part of Nigeria.</p>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            {% for vehicle in vehicles %}
            {% include 'partials/_car_listings.html' %}
            {% empty %} No vehicle listing
            {% endfor %}
        </div>
        {% include 'partials/_pagination.html' with page_obj=vehicles %}
    </div>
</section>

{% endblock content %}