{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-7">
                <div class="my-5">
                    <span class="bg-white rounded-5 px-3 py-2"><i class="fa-solid fa-thumbs-up text-success"></i> 100% Trusted car rental platform in the World</span>
                    <h1 class="display-5 fw-bolder text-white mb-3 mt-4">
                        Find Your Best
                        <span class="text-warning d-block">Dream Car for Rental</span>
                    </h1>
                    <p class="lead fw-normal text-white-50 mb-4">We provide effective services for customers in need of vehicles to link up with car vendors who have cars available for rentals.</p>
                    <a class="btn btn-outline-warning px-3 py-2 me-sm-3" href="{% url 'vehicle:list' %}">View all Cars <i class="fa-solid fa-arrow-right ps-1"></i></a>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="{% static 'car.svg' %}" class="w-100" alt="">
            </div>
        </div>
    </div>
</header>

<section class="bg-light py-lg-5">
    <div class="container my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Most Popular CarTypes</h2>
                    <p class="lead fw-normal text-body-secondary mb-5">Verified and Trusted Car Rental Firms</p>
                </div>
            </div>
        </div>
        <div class="row g-2 mb row-cols-1 row-cols-sm-2 row-cols-xl-4">
            <div class="">
                <div class="card border-0 h-100 py-3 px-2 shadow">
                    <div class="card-body text-center">
                        <span class="fa-stack fa-2x text-dark mb-3">
                            <i class="fa-solid fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-caravan fa-stack-1x fa-inverse"></i>
                        </span>
                        <h5 class="mb-2 text-warning">Caravan</h5>
                        <span class="text-body-secondary">17 Cars</span>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card border-0 h-100 py-3 px-2 shadow">
                    <div class="card-body text-center">
                        <span class="fa-stack fa-2x text-dark mb-3">
                            <i class="fa-solid fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-van-shuttle fa-stack-1x fa-inverse"></i>
                        </span>
                        <h5 class="mb-2 text-warning">Shuttle Van</h5>
                        <span class="text-body-secondary">17 Cars</span>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card border-0 h-100 py-3 px-2 shadow">
                    <div class="card-body text-center">
                        <span class="fa-stack fa-2x text-dark mb-3">
                            <i class="fa-solid fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-truck fa-stack-1x fa-inverse"></i>
                        </span>
                        <h5 class="mb-2 text-warning">Truck</h5>
                        <span class="text-body-secondary">17 Cars</span>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card border-0 h-100 py-3 px-2 shadow">
                    <div class="card-body text-center">
                        <span class="fa-stack fa-2x text-dark mb-3">
                            <i class="fa-solid fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-car-side fa-stack-1x fa-inverse"></i>
                        </span>
                        <h5 class="mb-2 text-warning">Sedan</h5>
                        <span class="text-body-secondary">17 Cars</span>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card border-0 h-100 py-3 px-2 shadow">
                    <div class="card-body text-center">
                        <span class="fa-stack fa-2x text-dark mb-3">
                            <i class="fa-solid fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-bus-simple fa-stack-1x fa-inverse"></i>
                        </span>
                        <h5 class="mb-2 text-warning">Bus</h5>
                        <span class="text-body-secondary">17 Cars</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="bg-white py-lg-5">
    <div class="container my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder text-warning-emphasis">Explore Featured Cars</h2>
                    <p class="lead fw-normal text-body-secondary mb-5">Available cars for rental that you can choose from</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            {% for vehicle in vehicles %}
            {% include 'partials/_car_listings.html' %}
            {% empty %} No vehicle listing
            {% endfor %}
        </div>
    </div>
</section>

<section class="text-bg-dark py-lg-5">
    <div class="container my-5">

    </div>
</section>

{% endblock %}